:root{
  /*Create a variable so you do not need to change color everywhere in css file*/
  --mainColor:#46344E;
  --secondaryColor:#382a3f;

  --borderColor:#1d1520;

  --mainText:#fff;
  --secondaryText:#eeeeee;

  --themeDotBorder:#FFF;

  --previewBg:rgb(29, 21, 32, 0.8);
  --previewshadow: #2b202f;

  --buttonColor:#8534a3;
}
